@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-6 font-bold;
  }
  
  button {
    @apply bg-blue-600 text-white font-bold py-2 px-4 rounded;
    @apply hover:bg-transparent hover:text-blue-600;
  }
}
